.window {
border: 1px solid;
width: 800px;
}
#window {
    position: relative;
    border: 50px solid ;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
}

    .window2 {
        border: 1px solid;
        width: 800px;
        }
    #window2 {
        position: relative;
        border: 50px solid ;
        width: 800px;
        height: 800px;
        margin: 0 auto;
        overflow:   hidden
}

#imageSlider2 {
    display: flex;
    transform: translateX(-000px);
}
#imageSlider {
    display: flex;
    transform: translateX(-000px);
    /* transform: translateX(-800px);
    transform: translateX(-1600px); */
}
img {
    width: 800px;
    height: 800px;
}
#center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    /* background-color: lemonchiffon; */
    }
#buttons {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;

}    
p {
text-align: center;
font-size: 50px;
font-weight: bold;
margin: 0;
}